/*create a header*/
.header {
    background-color: #e82c2c;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* create a card with a red border */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

/*create a sticky footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e82c2c;
    color: white;
    text-align: center;
}