/* generate a responsive grid */
/* 1. Define how many columns you want in a row */
/* 2. Set the percent width for each column */
/* 3. Style the column's content */
/* 4. Clear floats after the columns */
/* For mobile phones: */

[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .col-6, .col-s-6 {
    width: 100%;
  }
}

/*generate a header*/
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/*generate a navigation bar*/
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/*generate a color pallette*/
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/*generate a sticky footer*/
.footer {
  background-color: var(--indigo);
  padding: 10px;
  text-align: center;
}

/*create a rainbow color variables*/
:root {
  --red: #ff0000;
  --orange: #ffa500;
  --yellow: #ffff00;
  --green: #008000;
  --blue: #0000ff;
  --indigo: #4b0082;
  --violet: #ee82ee;
}